@bgcolor:#181818;
@font-face
{
	font-family: chinese;
	src: url('font/chinese.ttf');
	font-family: english;
	src: url('font/corpoa.ttf');
}
.index-page .vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
	background-color: #fff
}
.index-page .vux-slider > .vux-indicator > a > .vux-icon-dot, .vux-slider .vux-indicator-right > a > .vux-icon-dot{
	background-color: #7f7f7f
}
body{
	background: @bgcolor;
	font-family: chinese;

}
.pageTitle{
	width: 100%;
	height: 10.66vw;
	background: #000;
	line-height: 10.66vw;
	color: #fff;
	position: relative;
	.back{
	  color: #fff;
	  position: absolute;
	  left: 5vw;
	  top: 3.33vw;
	  height: 3vw;
	  width: 3vw;
	  border-left:3px solid #fff;
	  border-top:3px solid #fff;
	  transform:rotate(-45deg);
	}
}
.swiper-demo-img img {
  width: 100%;
  height: 100%
}

.index-page .weui-search-bar{
	background: #181818;
	border: none
}
.index-page .weui-search-bar:after{
	border:none
}
.index-page .vux-slider > .vux-swiper > .swiper-demo-img{
	border:none!important
}
.index-page .weui-search-bar__label{
	background: #4a4a4a;
	border-radius: 4px;

}
.index-page .weui-search-bar__form{
	background-color: #141414
} 
.index-page .weui-search-bar__form:after{
	background-color: #141414
}
.weui-search-bar__box .weui-search-bar__input{
	color: #fff
}
.weui-search-bar__cancel-btn{
	color: #fff !important;
	text-decoration: none
}
.weui-search-bar__form:after{
  border:none !important;
}
.mubu{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,0.5);
}
.detail-swiper .vux-icon-dot{
	width: 10px !important;
	height: 10px !important;
	border-radius: 100% !important;
	background-color:#fff !important
}
.detail-swiper .vux-icon-dot.active{
	background-color:#1dafed !important
}
