.duration(@x){
	transition-duration: @x;
	-moz-transition-duration: @x; /* Firefox 4 */
	-webkit-transition-duration: @x; /* Safari 和 Chrome */
	-o-transition-duration: @x;
}
#app{
	.header{
		text-align: center;
	}
}
.nav{
  li{
    background: rgb(65, 183, 111);
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    vertical-align: center;
    a{
    	color: white;
    	text-decoration: none;
    }
  }
  li:hover a{
  	position: absolute;
  	font-size: 30px;
  	.duration(1s);
	transform:translate(-20px);
	text-shadow:2px 2px 4px #000000
  }
}
.copyright {
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
.text-scroll {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.text-scroll p{
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}
.black {
  background-color: #000;
}
.title{
  line-height: 100px;
  text-align: center;
  color: #fff;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.vux-indicator.custom-bottom {
  bottom: 30px;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
.swiper-demo-img img {
  width: 100%;
}
.index-page{
  height: 100%;
  background: #181818
}
.index-page-mypoints{
  height: 40vw;
  background: yellow;
  text-align: center
}
.swiper-demo-img img{
  height: 100%
}